 .mortgage h1 {
	color: #81559b;
	font-weight: bold;
}

.action button {
	font: inherit;
	font-weight: bold;
	background: #81559b;
	color: white;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	border: 1px solid #81559b;
	border-radius: 4px;	
}


 